div#csr-import {
    border: 1px solid silver;
    border-radius: 8px;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
}

.csr-hidden {
    display: none;
}

.csr-buttons {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    justify-content: space-between;
}

.csr-buttons > div {
    flex-grow: 1;
}

.csr-buttons > div > span {
    white-space: wrap;
}
.csr-nowrap {
    white-space: nowrap;
}

.csr-form-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 10px;
}